chromadb==1.0.20
groq==0.31.0
huggingface-hub==0.34.4
joblib==1.5.1
mysql-connector-python==9.2.0
pandas==2.2.3
streamlit==1.44.1
semantic-router==0.1.11
sentence-transformers==5.1.0
openai==1.101.0